.resources{
  padding: 100px 0;
  background-color: #ECEDEC;
  text-align: center;
  &__title{
    margin-bottom: 50px;
  }
  .btn{
    margin-top: 25px;
    margin-bottom: 25px;
  }
  &__text{
    margin-bottom: 50px;
  }
  &__title-t{
    padding-top: 55px;
    margin-bottom: 20px;
  }
}







