<footer class="page-footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-sm-4">
                <a href="/" class="page-footer__logo">
                    <img src="img/footer-logo@2x.png" data-src="" alt="OurDiag logo">
                </a>
            </div>
            <div class="col-12 col-sm-4">
                <div class="page-footer__social">
                    <a href="#" class="page-footer__social-item page-footer__social-item_in"></a>
                    <a href="#" class="page-footer__social-item page-footer__social-item_yt"></a>
                    <a href="#" class="page-footer__social-item page-footer__social-item_t"></a>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <ul class="page-footer__list-link">
                    <li class="page-footer__list-link-item">
                        <a href="/terms-of-use.html">
                            Terms of Use
                        </a>
                    </li>
                    <li class="page-footer__list-link-item">|</li>
                    <li class="page-footer__list-link-item">
                        <a href="/privacy-policy.html">
                            Data Privacy Policy
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="page-footer__cop">© 2020 Ourdiag. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>